

a{
    font-size: 25px;
    color: yellow;
}

a:hover{
    color: orange;
    background-color: blueviolet;
    transition: all 3s ease;

}

a:active{
    color: black;
}
a:focus{
    background: pink;
}
